Basic Syntax

In [ ]:
#single line comment

#type
#of
#multi
#line
#comments

""" type 
        multi
            line 
                comments
                        or  
                            docstring
                                    comment """

In [4]:
#example for multiline statements
my_list = [1, \
            2, 3\
            ,4,5 \
        ]
print(my_list)

[1, 2, 3, 4, 5]

Variables

In [42]:
#example for list
ex_list = ['india', 12, 1.56, ('one','two')]
print(type(ex_list))

#example for tuple
ex_tuple=('india', 12, 1.56, ('one','two'))
print(type(ex_tuple))

#example for dictionary
ex_dict = {'india':12, 15:1.56, 'num':('one','two')}
print(type(ex_dict))

#example for set
ex_set = {'hello', 'how', 'are', 'are', 'hello'}
print(type(ex_set))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [43]:
#example of type conversion
name = 'giri'
print(type(name))

#converting string into tuple
con_tuple = tuple(name)
print(type(con_tuple))

#converting string into list
con_list = list(name)
print(type(con_list))

#converting string into set
con_set = set(name)
print(type(con_set))

<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>

Control Structures

In [32]:
#example for match case
command = 'Hello, World!' 
match command: 
    case 'Hello, World!': 
        print('Hello to you too!') 
    case 'Goodbye, World!': 
        print('See you later') 
    case other: 
        print('No match found')

Hello to you too!

In [141]:
#example for if-else statements
num = [1,2,3,4,5]
if 2 in num:
    print('yes')
elif 6 in num:
    print('overboard')
else:
    print('no')

yes

Loops

In [33]:
#example of while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello world!")

Hello world!
Hello world!
Hello world!

In [40]:
#example of for loop and loop control statements 
for i in range(1,11):
    if i%2==0:
        continue
    elif i%5==0:
        break
    else:
        pass
    print(i)

1
3

Operators

In [138]:
#example for arithmetic operators
a = int(input())
b = int(input())

#addition operator
print("the addition of a and b is: ", a+b)

#subtraction operator
print("the subtraction of a and b is: ", a-b)

#multiplication operator
print("the multiplication of a and b is: ", a*b)

#modulus operator
print("the modulus of a and b is: ", a%b)

#division operator
print("the division of a and b is: ", a/b)

#floor division operator
print("the floor division of a and b is: ", a//b)

the addition of a and b is:  30
the subtraction of a and b is:  -10
the multiplication of a and b is:  200
the modulus of a and b is:  10
the division of a and b is:  0.5
the floor division of a and b is:  0

comparison operators

In [139]:
if a>b:
    print("a is greater than b")                            #example of greater than operator
elif a>=b:    
    print("a is greater than or equals to b")               #example of greater than or equals to operator
elif a<b:
    print("a is less than b")                               #example of less than operator
elif a<=b:
    print("a is less than or equals to b")                  #example of less than or equals to operator
elif a == b:
    print("a is equals to b")                               #example of equals to operator
elif a != b:
    print("a is not equals to b")                           #example of not equals to operator

a is less than b

logical operator

In [140]:
if a>5 and b >10:
    print("example of and operator")                        #example of and logical operator
elif a<5 or b > 10:
    print("example of or operator")                         #example of or logical operator
elif not(a>5 and b >10):
    print("example of not operator")                        #example of not logical operator

example of and operator

Number type conversions

In [59]:
a = 10
type(a)

#int to str conversion
i = str(a)
print(i)
print(type(i))

#int to float conversion
f = float(a)
print(f)
print(type(f))

#str to int conversion 
s = int(i)
print(s)
print(type(s))

#float to int conversion
n = int(f)
print(n)
print(type(n))

10
<class 'str'>
10.0
<class 'float'>
10
<class 'int'>
10
<class 'int'>

mathematical functions

In [64]:
import math

#math pi function
print(math.pi)          

#math tau function
print(math.tau)         

#math inf function
print(math.inf)

3.141592653589793
6.283185307179586
inf

In [66]:
import math

print('The Floor and Ceiling value of 23.56 are: ' + str(math.ceil(23.56)) + ', ' + str(math.floor(23.56)))

x = 10
y = -15

print('The value of x after copying the sign from y is: ' + str(math.copysign(x, y)))

print('Absolute value of -96 and 56 are: ' + str(math.fabs(-96)) + ', ' + str(math.fabs(56)))

my_list = [12, 4.25, 89, 3.02, -65.23, -7.2, 6.3]

print('Sum of the elements of the list: ' + str(math.fsum(my_list)))

print('The GCD of 24 and 56 : ' + str(math.gcd(24, 56)))

x = float('nan')
if math.isnan(x):
    print('It is not a number')

x = float('inf')
y = 45

if math.isinf(x):
    print('It is Infinity')

print(math.isfinite(x)) #x is not a finite number

print(math.isfinite(y)) #y is a finite number

The Floor and Ceiling value of 23.56 are: 24, 23
The value of x after copying the sign from y is: -10.0
Absolute value of -96 and 56 are: 96.0, 56.0
Sum of the elements of the list: 42.13999999999999
The GCD of 24 and 56 : 8
It is not a number
It is Infinity
False
True

In [69]:
import math

#math power function
print('The value of 5**8: ' + str(math.pow(5, 8)))                              

#math squareroot function
print('Square root of 400: ' + str(math.sqrt(400)))                             

#math exponent function
print('The value of 5**e: ' + str(math.exp(5)))                                 

#math log function
print('The value of Log(625), base 5: ' + str(math.log(625, 5)))                

#math log2 function
print('The value of Log(1024), base 2: ' + str(math.log2(1024)))                

#math log10 function
print('The value of Log(1024), base 10: ' + str(math.log10(1024)))

The value of 5**8: 390625.0
Square root of 400: 20.0
The value of 5**e: 148.4131591025766
The value of Log(625), base 5: 4.0
The value of Log(1024), base 2: 10.0
The value of Log(1024), base 10: 3.010299956639812

In [70]:
import math

#math sin and radians function
print('The value of Sin(60 degree): ' + str(math.sin(math.radians(60))))                    

#math cos function
print('The value of cos(pi): ' + str(math.cos(math.pi)))                                    

#math tan function
print('The value of tan(90 degree): ' + str(math.tan(math.pi/2)))                           

#math degrees function
print('The angle of sin(0.8660254037844386): ' + str(math.degrees(math.asin(0.8660254037844386))))

The value of Sin(60 degree): 0.8660254037844386
The value of cos(pi): -1.0
The value of tan(90 degree): 1.633123935319537e+16
The angle of sin(0.8660254037844386): 59.99999999999999

random numbers

In [71]:
# import random
import random

# prints a random value from the list
list1 = [1, 2, 3, 4, 5, 6]
print(random.choice(list1))

# prints a random item from the string
string = "striver"
print(random.choice(string))

3
t

In [76]:
import random
 
# using choice() to generate a random number from a
# given list of numbers.
print("A random number from list is : ", end="")
print(random.choice([1, 4, 8, 10, 3]))
 
# using randrange() to generate in range from 20
# to 50. The last parameter 3 is step size to skip
# three numbers when selecting.
print("A random number from range is : ", end="")
print(random.randrange(20, 50))

A random number from list is : 4
A random number from range is : 30

substring

In [78]:
string = "omniwyse"

#to get the first 5 characters of a string
print(string[0:5])      

#to get a substring 4 characters long, starting from the 3rd character of the string
print(string[2:6])      

#to get the last character of the string
print(string[-1])       

#to get the last 5 characters of a string
print(string[-5:])      

#to get a substring which contains all characters except the last 4 characters and the 1st character
print(string[1:-4])     

#to get every other character from a string
print(string[::2])

omniw
niwy
e
iwyse
mni
onws

Escape Characters

In [80]:
#it creates new line
txt1 = "Hello\nWorld!"
print(txt1)                                                 

#it escapes quote
txt2 = 'It\'s alright.'
print(txt2)                                                 

#it escapes backslash
txt3 = "This will insert one \\ (backslash)."               
print(txt3)                                                 

#it adds tab
txt4 = "Hello\tWorld!"
print(txt4)                                                 

#it removes the space or backspaces
txt5 = "Hello \bWorld!"
print(txt5)

Hello
World!
It's alright.
This will insert one \ (backslash).
Hello	World!
HelloWorld!

string special operators

In [85]:
a  = "hello"
b = "world"

#concantetion of strings
print(a+" "+b)                      

#repeats the strings mentioned times
print(a*2)                          

#gives the charachter from the given index
print(a[3])                          

#returns true if the charachter exists in the string
if "h" in a:
    print(True)
else:                               
    print(False)

#returns true if the charachter not exists in the string
if "o" not in a:
    print(True)
else:                               
    print(False)

hello world
hellohello
l
True
False

String formatting

In [87]:
price = 49
txt1 = "The price is {} dollars"     #formatting with placeholder
txt2 = "The price is {:.2f} dollars" #formatting with 2 decimals after point
print(txt1.format(price))
print(txt2.format(price))


#you can also format without the index numbers
quantity = 3
itemno = 567
price = 49
order1 = "I want {0} pieces of item number {1} for {2:.2f} dollars."   #formatting the multiple strings with the index values
print(order1.format(quantity, itemno, price))

#to refer to the same value more than once, using the index number
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."                         
print(txt.format(age, name))

#formatting using named indexes
cars = "I have a {carname}, it is a {model}."
print(cars.format(carname = "Ford", model = "Mustang"))

The price is 49 dollars
The price is 49.00 dollars
I want 3 pieces of item number 567 for 49.00 dollars.
His name is John. John is 36 years old.
I have a Ford, it is a Mustang.

Bultin string methods

In [98]:
text = 'OmniWyse TechNologies'

# upper() function to convert
# string to upper case
print("converted to uppercase:",text.upper())

# lower() function to convert
# string to lower case
print("converted to lowercase:",text.lower())

# converts the first character to
# upper case and rest to lower case
print("converted to title case:",text.title())

# original string never changes
print("same original text:", text)

#only first letter is capitalized
print("converted to capitalize:", text.capitalize())

#return the occuerence of substring
print("count of substring:", text.count('o'))

#return true if endswith() something defined
print('it ends with this character: ', text.endswith('gies'))

converted to uppercase: OMNIWYSE TECHNOLOGIES
converted to lowercase: omniwyse technologies
converted to title case: Omniwyse Technologies
same original text: OmniWyse TechNologies
converted to capitalize: Omniwyse technologies
count of substring: 2
it ends with this character:  True

In [111]:
#Returns the lowest index of the substring if it is found
print(text.find('o'))	        

#Returns the position of the first occurrence of a substring in a string
print(text.index('c'))	        

#Checks whether all the characters in a given string is alphanumeric or not
print(text.isalnum())	        

#Returns “True” if all characters in the string are alphabets
print(text.isalpha())	        

#Returns true if all characters in a string are decimal
print(text.isdecimal())	        

#Returns “True” if all characters in the string are digits
print(text.isdigit())	        

#Check whether a string is a valid identifier or not
print(text.isidentifier())	    

#Checks if all characters in the string are lowercase
print(text.islower())	        

#Returns “True” if all characters in the string are numeric characters
print(text.isnumeric())	        

#Returns “True” if all characters in the string are printable or the string is empty
print(text.isprintable())	    

#Returns “True” if all characters in the string are whitespace characters
print(text.isspace())	        

#Returns “True” if the string is a title cased string
print(text.istitle())	        

#Checks if all characters in the string are uppercase
print(text.isupper())	        

#Returns a concatenated String
print(text.join("pvt ltd"))	    

#Converts all uppercase characters in a string into lowercase
print(text.lower())	            

#Returns the string with leading characters removed
print(text.lstrip())	        

#Replaces all occurrences of a substring with another substring
print(text.replace('o', 'i'))	

#Returns the highest index of the substring inside the string
print(text.rindex('i'))	        

#Returns “True” if a string starts with the given prefix
print(text.startswith('O'))	    

#Returns the string with both leading and trailing characters
print(text.strip())	            

#Converts all uppercase characters to lowercase and vice versa
print(text.swapcase())

14
11
False
False
False
False
False
False
False
True
False
False
False
pOmniWyse TechNologiesvOmniWyse TechNologiestOmniWyse TechNologies OmniWyse TechNologieslOmniWyse TechNologiestOmniWyse TechNologiesd
omniwyse technologies
OmniWyse TechNologies
OmniWyse TechNiligies
18
True
OmniWyse TechNologies
oMNIwYSE tECHnOLOGIES

Lists

In [113]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

#Prints the second item of the list
print(thislist[1])

#prints the last item
print(thislist[-1])             

#prints item from index 2 - 5
print(thislist[2:5])            

#prints items upto index 4
print(thislist[:4])             

#prints items from 2
print(thislist[2:]) 

#prints items from -4 or -1
print(thislist[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [137]:
a_list = [1, 2, 3, 4]
print(a_list)

#adds number to the list at last position
a_list.append(5)            
print(a_list)

#extends the list with new lists
a_list.extend([5, 6, 7])
print(a_list)               

#inserts 30 at index 2
a_list.insert(2, 30)
print(a_list)               

#removes 4 from the list
a_list.remove(4)
print(a_list)               

#removed the max element from the list
a_list.remove(max(a_list))  
print(a_list)

#removed the min element from the list
a_list.remove(min(a_list))  
print(a_list)

#removed the 2nd element from list
a_list.pop(2)
print(a_list)                

#removes first element from list
del a_list[0]                
print(a_list)

#prints length of the list
print(len(a_list))           

#return the sum of all elements in the list
print(sum(a_list))          

#clears all the elemets from list
a_list.clear()
print(a_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5, 6, 7]
[1, 2, 30, 3, 4, 5, 5, 6, 7]
[1, 2, 30, 3, 5, 5, 6, 7]
[1, 2, 3, 5, 5, 6, 7]
[2, 3, 5, 5, 6, 7]
[2, 3, 5, 6, 7]
[3, 5, 6, 7]
4
21
[]

In [136]:
lst = "hello world this is python"      #it splits the string into seperate elements depending on parameter given
lst2 = lst.split()
print(lst2)

num = [1,2,3,4,5]                       #reverses the list 
num.reverse()
print(num)

['hello', 'world', 'this', 'is', 'python']
[5, 4, 3, 2, 1]