Basic Syntax

In [ ]:
#single line comment

#type
#of
#multi
#line
#comments

""" type 
        multi
            line 
                comments
                        or  
                            docstring
                                    comment """

In [4]:
#example for multiline statements
my_list = [1, \
            2, 3\
            ,4,5 \
        ]
print(my_list)

[1, 2, 3, 4, 5]

Variables

In [1]:
#example for list
ex_list = ['india', 12, 1.56, ('one','two')]
print(type(ex_list))

#example for tuple
ex_tuple=('india', 12, 1.56, ('one','two'))
print(type(ex_tuple))

#example for dictionary
ex_dict = {'india':12, 15:1.56, 'num':('one','two')}
print(type(ex_dict))

#example for set
ex_set = {'hello', 'how', 'are', 'are', 'hello'}
print(ex_set)

<class 'list'>
<class 'tuple'>
<class 'dict'>
{'hello', 'are', 'how'}

In [2]:
#example of type conversion
name = 'giri'
print(type(name))

#converting string into tuple
con_tuple = tuple(name)
print(type(con_tuple))

#converting string into list
con_list = list(name)
print(type(con_list))

#converting string into set
con_set = set(name)
print(con_set)

<class 'str'>
<class 'tuple'>
<class 'list'>
{'r', 'i', 'g'}

Control Structures

In [32]:
#example for match case
command = 'Hello, World!' 
match command: 
    case 'Hello, World!': 
        print('Hello to you too!') 
    case 'Goodbye, World!': 
        print('See you later') 
    case other: 
        print('No match found')

Hello to you too!

In [141]:
#example for if-else statements
num = [1,2,3,4,5]
if 2 in num:
    print('yes')
elif 6 in num:
    print('overboard')
else:
    print('no')

yes

Loops

In [33]:
#example of while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello world!")

Hello world!
Hello world!
Hello world!

In [40]:
#example of for loop and loop control statements 
for i in range(1,11):
    if i%2==0:
        continue
    elif i%5==0:
        break
    else:
        pass
    print(i)

1
3

Operators

In [138]:
#example for arithmetic operators
a = int(input())
b = int(input())

#addition operator
print("the addition of a and b is: ", a+b)

#subtraction operator
print("the subtraction of a and b is: ", a-b)

#multiplication operator
print("the multiplication of a and b is: ", a*b)

#modulus operator
print("the modulus of a and b is: ", a%b)

#division operator
print("the division of a and b is: ", a/b)

#floor division operator
print("the floor division of a and b is: ", a//b)

the addition of a and b is:  30
the subtraction of a and b is:  -10
the multiplication of a and b is:  200
the modulus of a and b is:  10
the division of a and b is:  0.5
the floor division of a and b is:  0

comparison operators

In [139]:
if a>b:
    print("a is greater than b")                            #example of greater than operator
elif a>=b:    
    print("a is greater than or equals to b")               #example of greater than or equals to operator
elif a<b:
    print("a is less than b")                               #example of less than operator
elif a<=b:
    print("a is less than or equals to b")                  #example of less than or equals to operator
elif a == b:
    print("a is equals to b")                               #example of equals to operator
elif a != b:
    print("a is not equals to b")                           #example of not equals to operator

a is less than b

logical operator

In [140]:
if a>5 and b >10:
    print("example of and operator")                        #example of and logical operator
elif a<5 or b > 10:
    print("example of or operator")                         #example of or logical operator
elif not(a>5 and b >10):
    print("example of not operator")                        #example of not logical operator

example of and operator

Number type conversions

In [59]:
a = 10
type(a)

#int to str conversion
i = str(a)
print(i)
print(type(i))

#int to float conversion
f = float(a)
print(f)
print(type(f))

#str to int conversion 
s = int(i)
print(s)
print(type(s))

#float to int conversion
n = int(f)
print(n)
print(type(n))

10
<class 'str'>
10.0
<class 'float'>
10
<class 'int'>
10
<class 'int'>

mathematical functions

In [64]:
import math

#math pi function
print(math.pi)          

#math tau function
print(math.tau)         

#math inf function
print(math.inf)

3.141592653589793
6.283185307179586
inf

In [66]:
import math

print('The Floor and Ceiling value of 23.56 are: ' + str(math.ceil(23.56)) + ', ' + str(math.floor(23.56)))

x = 10
y = -15

print('The value of x after copying the sign from y is: ' + str(math.copysign(x, y)))

print('Absolute value of -96 and 56 are: ' + str(math.fabs(-96)) + ', ' + str(math.fabs(56)))

my_list = [12, 4.25, 89, 3.02, -65.23, -7.2, 6.3]

print('Sum of the elements of the list: ' + str(math.fsum(my_list)))

print('The GCD of 24 and 56 : ' + str(math.gcd(24, 56)))

x = float('nan')
if math.isnan(x):
    print('It is not a number')

x = float('inf')
y = 45

if math.isinf(x):
    print('It is Infinity')

print(math.isfinite(x)) #x is not a finite number

print(math.isfinite(y)) #y is a finite number

The Floor and Ceiling value of 23.56 are: 24, 23
The value of x after copying the sign from y is: -10.0
Absolute value of -96 and 56 are: 96.0, 56.0
Sum of the elements of the list: 42.13999999999999
The GCD of 24 and 56 : 8
It is not a number
It is Infinity
False
True

In [69]:
import math

#math power function
print('The value of 5**8: ' + str(math.pow(5, 8)))                              

#math squareroot function
print('Square root of 400: ' + str(math.sqrt(400)))                             

#math exponent function
print('The value of 5**e: ' + str(math.exp(5)))                                 

#math log function
print('The value of Log(625), base 5: ' + str(math.log(625, 5)))                

#math log2 function
print('The value of Log(1024), base 2: ' + str(math.log2(1024)))                

#math log10 function
print('The value of Log(1024), base 10: ' + str(math.log10(1024)))

The value of 5**8: 390625.0
Square root of 400: 20.0
The value of 5**e: 148.4131591025766
The value of Log(625), base 5: 4.0
The value of Log(1024), base 2: 10.0
The value of Log(1024), base 10: 3.010299956639812

In [70]:
import math

#math sin and radians function
print('The value of Sin(60 degree): ' + str(math.sin(math.radians(60))))                    

#math cos function
print('The value of cos(pi): ' + str(math.cos(math.pi)))                                    

#math tan function
print('The value of tan(90 degree): ' + str(math.tan(math.pi/2)))                           

#math degrees function
print('The angle of sin(0.8660254037844386): ' + str(math.degrees(math.asin(0.8660254037844386))))

The value of Sin(60 degree): 0.8660254037844386
The value of cos(pi): -1.0
The value of tan(90 degree): 1.633123935319537e+16
The angle of sin(0.8660254037844386): 59.99999999999999

random numbers

In [71]:
# import random
import random

# prints a random value from the list
list1 = [1, 2, 3, 4, 5, 6]
print(random.choice(list1))

# prints a random item from the string
string = "striver"
print(random.choice(string))

3
t

In [76]:
import random
 
# using choice() to generate a random number from a
# given list of numbers.
print("A random number from list is : ", end="")
print(random.choice([1, 4, 8, 10, 3]))
 
# using randrange() to generate in range from 20
# to 50. The last parameter 3 is step size to skip
# three numbers when selecting.
print("A random number from range is : ", end="")
print(random.randrange(20, 50))

A random number from list is : 4
A random number from range is : 30

substring

In [78]:
string = "omniwyse"

#to get the first 5 characters of a string
print(string[0:5])      

#to get a substring 4 characters long, starting from the 3rd character of the string
print(string[2:6])      

#to get the last character of the string
print(string[-1])       

#to get the last 5 characters of a string
print(string[-5:])      

#to get a substring which contains all characters except the last 4 characters and the 1st character
print(string[1:-4])     

#to get every other character from a string
print(string[::2])

omniw
niwy
e
iwyse
mni
onws

Escape Characters

In [80]:
#it creates new line
txt1 = "Hello\nWorld!"
print(txt1)                                                 

#it escapes quote
txt2 = 'It\'s alright.'
print(txt2)                                                 

#it escapes backslash
txt3 = "This will insert one \\ (backslash)."               
print(txt3)                                                 

#it adds tab
txt4 = "Hello\tWorld!"
print(txt4)                                                 

#it removes the space or backspaces
txt5 = "Hello \bWorld!"
print(txt5)

Hello
World!
It's alright.
This will insert one \ (backslash).
Hello	World!
HelloWorld!

string special operators

In [85]:
a  = "hello"
b = "world"

#concantetion of strings
print(a+" "+b)                      

#repeats the strings mentioned times
print(a*2)                          

#gives the charachter from the given index
print(a[3])                          

#returns true if the charachter exists in the string
if "h" in a:
    print(True)
else:                               
    print(False)

#returns true if the charachter not exists in the string
if "o" not in a:
    print(True)
else:                               
    print(False)

hello world
hellohello
l
True
False

String formatting

In [87]:
price = 49
txt1 = "The price is {} dollars"     #formatting with placeholder
txt2 = "The price is {:.2f} dollars" #formatting with 2 decimals after point
print(txt1.format(price))
print(txt2.format(price))


#you can also format without the index numbers
quantity = 3
itemno = 567
price = 49
order1 = "I want {0} pieces of item number {1} for {2:.2f} dollars."   #formatting the multiple strings with the index values
print(order1.format(quantity, itemno, price))

#to refer to the same value more than once, using the index number
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."                         
print(txt.format(age, name))

#formatting using named indexes
cars = "I have a {carname}, it is a {model}."
print(cars.format(carname = "Ford", model = "Mustang"))

The price is 49 dollars
The price is 49.00 dollars
I want 3 pieces of item number 567 for 49.00 dollars.
His name is John. John is 36 years old.
I have a Ford, it is a Mustang.

Bultin string methods

In [98]:
text = 'OmniWyse TechNologies'

# upper() function to convert
# string to upper case
print("converted to uppercase:",text.upper())

# lower() function to convert
# string to lower case
print("converted to lowercase:",text.lower())

# converts the first character to
# upper case and rest to lower case
print("converted to title case:",text.title())

# original string never changes
print("same original text:", text)

#only first letter is capitalized
print("converted to capitalize:", text.capitalize())

#return the occuerence of substring
print("count of substring:", text.count('o'))

#return true if endswith() something defined
print('it ends with this character: ', text.endswith('gies'))

converted to uppercase: OMNIWYSE TECHNOLOGIES
converted to lowercase: omniwyse technologies
converted to title case: Omniwyse Technologies
same original text: OmniWyse TechNologies
converted to capitalize: Omniwyse technologies
count of substring: 2
it ends with this character:  True

In [111]:
#Returns the lowest index of the substring if it is found
print(text.find('o'))	        

#Returns the position of the first occurrence of a substring in a string
print(text.index('c'))	        

#Checks whether all the characters in a given string is alphanumeric or not
print(text.isalnum())	        

#Returns “True” if all characters in the string are alphabets
print(text.isalpha())	        

#Returns true if all characters in a string are decimal
print(text.isdecimal())	        

#Returns “True” if all characters in the string are digits
print(text.isdigit())	        

#Check whether a string is a valid identifier or not
print(text.isidentifier())	    

#Checks if all characters in the string are lowercase
print(text.islower())	        

#Returns “True” if all characters in the string are numeric characters
print(text.isnumeric())	        

#Returns “True” if all characters in the string are printable or the string is empty
print(text.isprintable())	    

#Returns “True” if all characters in the string are whitespace characters
print(text.isspace())	        

#Returns “True” if the string is a title cased string
print(text.istitle())	        

#Checks if all characters in the string are uppercase
print(text.isupper())	        

#Returns a concatenated String
print(text.join("pvt ltd"))	    

#Converts all uppercase characters in a string into lowercase
print(text.lower())	            

#Returns the string with leading characters removed
print(text.lstrip())	        

#Replaces all occurrences of a substring with another substring
print(text.replace('o', 'i'))	

#Returns the highest index of the substring inside the string
print(text.rindex('i'))	        

#Returns “True” if a string starts with the given prefix
print(text.startswith('O'))	    

#Returns the string with both leading and trailing characters
print(text.strip())	            

#Converts all uppercase characters to lowercase and vice versa
print(text.swapcase())

14
11
False
False
False
False
False
False
False
True
False
False
False
pOmniWyse TechNologiesvOmniWyse TechNologiestOmniWyse TechNologies OmniWyse TechNologieslOmniWyse TechNologiestOmniWyse TechNologiesd
omniwyse technologies
OmniWyse TechNologies
OmniWyse TechNiligies
18
True
OmniWyse TechNologies
oMNIwYSE tECHnOLOGIES

Lists

In [113]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

#Prints the second item of the list
print(thislist[1])

#prints the last item
print(thislist[-1])             

#prints item from index 2 - 5
print(thislist[2:5])            

#prints items upto index 4
print(thislist[:4])             

#prints items from 2
print(thislist[2:]) 

#prints items from -4 or -1
print(thislist[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [137]:
a_list = [1, 2, 3, 4]
print(a_list)

#adds number to the list at last position
a_list.append(5)            
print(a_list)

#extends the list with new lists
a_list.extend([5, 6, 7])
print(a_list)               

#inserts 30 at index 2
a_list.insert(2, 30)
print(a_list)               

#removes 4 from the list
a_list.remove(4)
print(a_list)               

#removed the max element from the list
a_list.remove(max(a_list))  
print(a_list)

#removed the min element from the list
a_list.remove(min(a_list))  
print(a_list)

#removed the 2nd element from list
a_list.pop(2)
print(a_list)                

#removes first element from list
del a_list[0]                
print(a_list)

#prints length of the list
print(len(a_list))           

#return the sum of all elements in the list
print(sum(a_list))          

#clears all the elemets from list
a_list.clear()
print(a_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 5, 6, 7]
[1, 2, 30, 3, 4, 5, 5, 6, 7]
[1, 2, 30, 3, 5, 5, 6, 7]
[1, 2, 3, 5, 5, 6, 7]
[2, 3, 5, 5, 6, 7]
[2, 3, 5, 6, 7]
[3, 5, 6, 7]
4
21
[]

In [136]:
lst = "hello world this is python"      #it splits the string into seperate elements depending on parameter given
lst2 = lst.split()
print(lst2)

num = [1,2,3,4,5]                       #reverses the list 
num.reverse()
print(num)

['hello', 'world', 'this', 'is', 'python']
[5, 4, 3, 2, 1]

Tuples

In [8]:
thisTuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

#Prints the second item of the list
print(thisTuple[1])

#prints the last item
print(thisTuple[-1])             

#prints item from index 2 - 5
print(thisTuple[2:5])            

#prints items upto index 4
print(thisTuple[:4])             

#prints items from 2
print(thisTuple[2:]) 

#prints items from -4 or -1
print(thisTuple[-4:-1])

banana
mango
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

In [24]:
a_tuple = (1, 2, 3, 4)
print(type(a_tuple))                                                         

#prints length of the list
print(len(a_tuple))           

#return the sum of all elements in the list
print(sum(a_tuple))          

#returns the minimum value from the list 
print(min(a_tuple))

#return the maximum value from the list 
print(max(a_tuple))

a_tuple2 = (5, 6, 7, 8)

#tuple concentation
print(a_tuple+a_tuple2)

#deletes whole tuple existence 
#tuple doesnt support deleting single element
del a_tuple2

<class 'tuple'>
4
10
1
4
(1, 2, 3, 4, 5, 6, 7, 8)

In [51]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#to get the value of the linked key
x = car['model']
print(x)

#to get the value by get function
x = car.get("brand")
print(x)

#to get all the keys from dictionary
x = car.keys()
print(x)

#adding new values to the dictionary
car["color"] = "white"
print(x) 

#to get all the values from the dictionary
x = car.values()
print(x)

#to make changes in the existing dictionary
car["year"] = 2020
print(x) 

#we can also use update function to update the values
car.update({"year": 2022})
print(x)

#to return all the keys and values from the dictionary
x = car.items()
print(x)

Mustang
Ford
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])
dict_values(['Ford', 'Mustang', 2020, 'white'])
dict_values(['Ford', 'Mustang', 2022, 'white'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2022), ('color', 'white')])

In [52]:
#removed the 2nd element from dict
car.pop('model')
print(car)                

#removes the last element from dict
car.popitem()
print(car)

#removes first element from dict
del car['year']                
print(car)

#prints length of the dict
print(len(car))           

#clears all the elemets from dict
car.clear()
print(car)

del car

{'brand': 'Ford', 'year': 2022, 'color': 'white'}
{'brand': 'Ford', 'year': 2022}
{'brand': 'Ford'}
1
{}

Date & Time

In [58]:
# program to illustrate timetuple()
import datetime


# creating object
obj = datetime.datetime.today()

# obtaining the attributes of the
# datetime instance as a tuple
objTimeTuple = obj.timetuple()

# displaying the tuples of the object
print(obj)
print(objTimeTuple)

2022-07-19 13:33:11.718464
time.struct_time(tm_year=2022, tm_mon=7, tm_mday=19, tm_hour=13, tm_min=33, tm_sec=11, tm_wday=1, tm_yday=200, tm_isdst=-1)

In [59]:
import datetime


# creating object and initializing
# it with custom date
birthDate = datetime.datetime(2022, 7, 19)


# obtaining the attributes and displaying them
print("Year: ", birthDate.timetuple()[0])
print("Month: ", birthDate.timetuple()[1])
print("Day: ", birthDate.timetuple()[2])
print("Hour: ", birthDate.timetuple()[3])
print("Minute: ", birthDate.timetuple()[4])
print("Second: ", birthDate.timetuple()[5])
print("Day of Week: ", birthDate.timetuple()[6])
print("Day of Year: ", birthDate.timetuple()[7])
print("Daylight Saving Time: ", birthDate.timetuple()[8])

Year:  2022
Month:  7
Day:  19
Hour:  0
Minute:  0
Second:  0
Day of Week:  1
Day of Year:  200
Daylight Saving Time:  -1

In [ ]:
from datetime import date

# date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

In [70]:
import time

epoch = time.time()
print(epoch)

curr = time.ctime(epoch)
print("Current time:", curr)

obj = time.localtime(epoch)
print(obj)

ti = time.gmtime()
print(ti)

print (time.asctime(ti))
 
# using ctime() to show present time
print ("Start Execution : ",end="")
print (time.ctime())
 
# using sleep() to hault execution
time.sleep(4)
 
# using ctime() to show present time
print ("Stop Execution : ",end="")
print (time.ctime())

1658220035.167924
Current time: Tue Jul 19 14:10:35 2022
time.struct_time(tm_year=2022, tm_mon=7, tm_mday=19, tm_hour=14, tm_min=10, tm_sec=35, tm_wday=1, tm_yday=200, tm_isdst=0)
time.struct_time(tm_year=2022, tm_mon=7, tm_mday=19, tm_hour=8, tm_min=40, tm_sec=35, tm_wday=1, tm_yday=200, tm_isdst=0)
Tue Jul 19 08:40:35 2022
Start Execution : Tue Jul 19 14:10:35 2022
Stop Execution : Tue Jul 19 14:10:39 2022

In [73]:
import calendar
   
# using calendar to print calendar of year
# prints calendar of 2018
print ("The calendar of year 2022 is : ")
print (calendar.calendar(2022, 2, 1, 6))

The calendar of year 2022 is :
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [75]:
import calendar
   
yy = 2022
mm = 7
   
# display the calendar
print(calendar.month(yy, mm))

     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [83]:
def changeme( mylist ):
    "This changes a passed list into this function"
    mylist.append([1,2,3,4])
    print("Values inside the function: ", mylist)
# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
#print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [84]:
def changeme( mylist ):
    #"This changes a passed list into this function"
    mylist = [1,2,3,4]# This would assig new reference in mylist
    print("Values inside the function: ", mylist)

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [88]:
'''Required arguments are the arguments passed to a function in correct positional order. 
    Here, the number of arguments in the function call should match exactly with the function definition.'''

def printme(str):
    #"This prints a passed string into this function"
    return str
# Now you can call printme function
printme("hello world")

'hello world'

In [90]:
def team(name, project):
    print(name, "is working on an", project)

team(project = "python", name = 'Omniwyse')

Omniwyse is working on an python

In [91]:
def student(firstname, lastname ='Mark', standard ='Fifth'):

	print(firstname, lastname, 'studies in', standard, 'Standard')

In [94]:
student('giri')

giri Mark studies in Fifth Standard

In [96]:
def printinfo( arg1, *vartuple ):
    #"This prints a variable passed arguments"
    print("Output is: ")
    print(arg1)
    for var in vartuple:
        print(var)
# Now you can call printinfo function
printinfo( 10 )
printinfo( 70, 60, 50 )

Output is:
10
Output is:
70
60
50

In [98]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) #n value
mytripler = myfunc(3)

print(mydoubler(6)) #a value
print(mytripler(2))

12
6

In [100]:
def f():
	# local variable
	s = "local variable"
	print("Inside Function:", s)

# Driver code
f()

Inside Function: local variable

In [101]:
def f():
	
	# Global variable
	s = "Global variable"
	print("Inside Function:", s)

# Driver code
s = 'Global variable'
f()
print(s)

Inside Function: Global variable
Global variable

In [111]:
Money = 2000
def AddMoney():
    global Money
    Money = Money + 1
print(Money)
AddMoney()
print(Money)

2000
2001

Files and I/O

In [114]:
name = input("Enter a name: ")
print(name)

spider

In [151]:
#opens the existing file else creates new file
fo = open("foo.txt", "r+")

#prints name of the file
print("Name of the file: ", fo.name)

#prints if the file is opened or closed
print("Closed or not : ", fo.closed)

#prints the mode of the file
print("Opening mode : ", fo.mode)

#writes the text to the file
fo.write( "Python is a great language.\nYeah its great!!\n")

#reads the file up to the given bytes
str = fo.read(10)
print(str)

#tells the position of the pointer from where the text starts
position = fo.tell()
print(position)

#to start the pointer from 
position = fo.seek(0, 0)
print(position)

#closes the file 
fo.close()

Name of the file:  foo.txt
Closed or not :  False
Opening mode :  r+
Python is
55
0

In [152]:
import os

# Rename a file from test1.txt to test2.txt
os.rename( "foo.txt", "test2.txt" )

In [153]:
#makes the directory
os.mkdir("test")

#changes the position of the directory
'''os.chdir("/home/newdir")'''

#gets the current working directory
os.getcwd()

#removes the directory
#os.rmdir( "/tmp/test"  )

'/Users/giriprakash/Downloads/practice'

Exception Handling

In [155]:
#assertion error
def KelvinToFahrenheit(Temperature):
   assert (Temperature >= 0),"Colder than absolute zero!"
   return ((Temperature-273)*1.8)+32

print(KelvinToFahrenheit(273))
print(int(KelvinToFahrenheit(505.78)))
print(KelvinToFahrenheit(-5))

32.0
451

AssertionError: Colder than absolute zero!

In [157]:
class Networkerror(RuntimeError):
   def __init__(self, arg):
      self.args = arg

try:
   raise Networkerror("Bad hostname")
except (Networkerror,e):
   print(e.args)

NameError: name 'e' is not defined

In [158]:
# Python code to catch an exception and handle it using try and except code blocks  
   
a = ["Python", "Exceptions", "try and except"]  
try:  
    #looping through the elements of the array a, choosing a range that goes beyond the length of the array  
     for i in range( 4 ):  
        print( "The index and element from the array is", i, a[i] )  
#if an error occurs in the try block, then except block will be executed by the Python interpreter       
except:  
    print ("Index out of range")

The index and element from the array is 0 Python
The index and element from the array is 1 Exceptions
The index and element from the array is 2 try and except
Index out of range

In [159]:
num = [3, 4, 5, 7]  
if len(num) > 3:  
    raise Exception( f"Length of the given list must be less than or equal to 3 but is {len(num)}" )

Exception: Length of the given list must be less than or equal to 3 but is 4

In [160]:
def reciprocal( num1 ):  
    try:  
        reci = 1 / num1  
    except ZeroDivisionError:  
        print( "We cannot divide by zero" )  
    else:  
        print ( reci )  
# Calling the function and passing values  
reciprocal( 4 )  
reciprocal( 0 )

0.25
We cannot divide by zero

In [161]:
try:  
    div = 4 // 0    
    print( div )  
# this block will handle the exception raised  
except ZeroDivisionError:  
    print( "Atepting to divide by zero" )  
# this will always be executed no matter exception is raised or not  
finally:  
    print( 'This is code of finally clause' )

Atepting to divide by zero
This is code of finally clause

In [168]:
class EmptyError( RuntimeError ):  
   def __init__(self, argument):  
      self.arguments = argument  
    #'''Once the preceding class has been created, the following is how to raise an exception:  
        #Code'''
var = " "  
try:  
    raise EmptyError( "The variable is empty" )  
except (EmptyError, var):  
    print( var.arguments )

TypeError: catching classes that do not inherit from BaseException is not allowed

In [169]:
# Python3 program to
# demonstrate instantiating
# a class


class Dog:

	# A simple class
	# attribute
	attr1 = "mammal"
	attr2 = "dog"

	# A sample method
	def fun(self):
		print("I'm a", self.attr1)
		print("I'm a", self.attr2)


# Driver code
# Object instantiation
Rodger = Dog()

# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

In [170]:
class Person:
 
    # init method or constructor
    def __init__(self, name):
        self.name = name
 
    # Sample Method
    def say_hi(self):
        print('Hello, my name is', self.name)
 
 
p = Person('giri')
p.say_hi()

Hello, my name is giri

In [171]:
# Python3 program to show that we can create
# instance variables inside methods

# Class for Dog


class Dog:

	# Class Variable
	animal = 'dog'

	# The init method or constructor
	def __init__(self, breed):

		# Instance Variable
		self.breed = breed

	# Adds an instance variable
	def setColor(self, color):
		self.color = color

	# Retrieves instance variable
	def getColor(self):
		return self.color


# Driver Code
Rodger = Dog("pug")
Rodger.setColor("brown")
print(Rodger.getColor())

brown

In [172]:
class Omniwyse:

	# default constructor
	def __init__(self):
		self.geek = "Omniwyse tech"

	# a method for printing data members
	def print_Geek(self):
		print(self.geek)


# creating object of the class
obj = Omniwyse()

# calling the instance method using the object obj
obj.print_Geek()

Omniwyse tech

In [174]:
# A Python program to demonstrate inheritance

# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"


class Base(object):

	# Constructor
	def __init__(self, name):
		self.name = name

	# To get name
	def getName(self):
		return self.name


# Inherited or Sub class (Note Person in bracket)
class Child(Base):

	# Constructor
	def __init__(self, name, age):
		Base.__init__(self, name)
		self.age = age

	# To get name
	def getAge(self):
		return self.age

# Inherited or Sub class (Note Person in bracket)


class GrandChild(Child):

	# Constructor
	def __init__(self, name, age, address):
		Child.__init__(self, name, age)
		self.address = address

	# To get address
	def getAddress(self):
		return self.address


# Driver code
g = GrandChild("Geek1", 23, "Noida")
print(g.getName(), g.getAge(), g.getAddress())

Geek1 23 Noida

In [175]:
# Python example to show the working of multiple
# inheritance


class Base1(object):
	def __init__(self):
		self.str1 = "Geek1"
		print("Base1")


class Base2(object):
	def __init__(self):
		self.str2 = "Geek2"
		print("Base2")


class Derived(Base1, Base2):
	def __init__(self):

		# Calling constructors of Base1
		# and Base2 classes
		Base1.__init__(self)
		Base2.__init__(self)
		print("Derived")

	def printStrs(self):
		print(self.str1, self.str2)


ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

In [176]:
# Python code to demonstrate how parent constructors
# are called.

# parent class
class Person(object):

	# __init__ is known as the constructor
	def __init__(self, name, idnumber):
		self.name = name
		self.idnumber = idnumber

	def display(self):
		print(self.name)
		print(self.idnumber)

# child class


class Employee(Person):
	def __init__(self, name, idnumber, salary, post):
		self.salary = salary
		self.post = post

		# invoking the __init__ of the parent class
		Person.__init__(self, name, idnumber)


# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")

# calling a function of the class Person using its instance
a.display()

Rahul
886012

In [177]:
# Python program showing a use
# of get() and set() method in
# normal function

class Geek:
	def __init__(self, age = 0):
		self._age = age
	
	# getter method
	def get_age(self):
		return self._age
	
	# setter method
	def set_age(self, x):
		self._age = x

raj = Geek()

# setting the age using setter
raj.set_age(21)

# retrieving age using getter
print(raj.get_age())

print(raj._age)

21
21

In [180]:
import gc
i = 0

# create a cycle and on each iteration x as a dictionary
# assigned to 1
def create_cycle():
	x = { }
	x[i+1] = x
	print(x)

# lists are cleared whenever a full collection or
# collection of the highest generation (2) is run
collected = gc.collect() # or gc.collect(2)
print("Garbage collector: collected %d objects." % (collected))

print("Creating cycles...")
for i in range(15):
	create_cycle()

collected = gc.collect()

print("Garbage collector: collected %d objects." % (collected))

Garbage collector: collected 0 objects.
Creating cycles...
{1: {...}}
{2: {...}}
{3: {...}}
{4: {...}}
{5: {...}}
{6: {...}}
{7: {...}}
{8: {...}}
{9: {...}}
{10: {...}}
{11: {...}}
{12: {...}}
{13: {...}}
{14: {...}}
{15: {...}}
Garbage collector: collected 15 objects.

Regular expressions

In [189]:
import re

txt = "The rain in Spain 8+ times before 11:45 AM"

#Check if the string has any a, r, or n characters:
x = re.findall("[arn]", txt)
print(x)

#finds the characters between a-n in string
x = re.findall("[a-n]", txt)
print(x)

#finds the all excepts arn
x = re.findall("[^arn]", txt)
print(x)

#finds the specified digits
x = re.findall("[0123]", txt)
print(x)

#Checks if the string has any digits:
x = re.findall("[0-9]", txt)
print(x)

#checks if the string has digits between 00 - 59
x = re.findall("[0-5][0-9]", txt)
print(x)

#Returns a match for any character alphabetically between a and z, lower case OR upper case
x = re.findall("[a-zA-Z]", txt)
print(x)

#returns if any specified character is present
x = re.findall("[+]", txt)
print(x)

#return the space characters
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())

#Split at each white-space character:
x = re.split("\s", txt)
print(x)

#Replace every white-space character with the number #:
x = re.sub("\s", "#", txt)
print(x)

['r', 'a', 'n', 'n', 'a', 'n', 'r']
['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n', 'i', 'm', 'e', 'b', 'e', 'f', 'e']
['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i', ' ', '8', '+', ' ', 't', 'i', 'm', 'e', 's', ' ', 'b', 'e', 'f', 'o', 'e', ' ', '1', '1', ':', '4', '5', ' ', 'A', 'M']
['1', '1']
['8', '1', '1', '4', '5']
['11', '45']
['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n', 't', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
['+']
The first white-space character is located in position: 3
['The', 'rain', 'in', 'Spain', '8+', 'times', 'before', '11:45', 'AM']
The#rain#in#Spain#8+#times#before#11:45#AM

Connecting to Database

In [227]:
import os
import mysql.connector

conn = mysql.connector.connect(
    host='127.0.0.1',
    port="3306",
    database="spider",
    user="root",
    password="GiriprakasH@251")

cursor = conn.cursor()

Executing queries

In [229]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM city')
see = cursor.fetchall()
print(see)

[(1, 'hyd', Decimal('9.234000'), Decimal('2.123000')), (2, 'den', Decimal('8.234000'), Decimal('3.123000')), (3, 'rev', Decimal('7.234000'), Decimal('4.123000')), (4, 'del', Decimal('6.234000'), Decimal('5.123000')), (5, 'kerl', Decimal('5.234000'), Decimal('6.123000'))]